<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shivamkharde.finalyearbe2020">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SimilarAppForSingleInstalledAppActivity"
            android:configChanges="orientation"
            android:label="Similar Apps"
            android:parentActivityName=".activities.SimilarAppsActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".activities.SimilarAppsActivity"
            android:configChanges="orientation"
            android:label="All Installed Apps"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SingleAppNotificationLogActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activities.NotificationLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationLogActivity"
            android:configChanges="orientation"
            android:label="Notification History"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppPermissionsActivity"
            android:configChanges="orientation"
            android:label="App Permissions"
            android:parentActivityName=".activities.ApplicationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SingleApplicationInfoActivity"
            android:configChanges="orientation"
            android:label="App info"
            android:parentActivityName=".activities.ApplicationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ApplicationListActivity"
            android:configChanges="orientation"
            android:label="Application List"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utilities.NotificationServiceUtility"
            android:label="Notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>